<div class="jquery-waiting-base-container" ng-show="buscou">Carregando </div>
<div class="feed">
<div class="input-group busca">
  <input type="text" class="form-control" style="width: 75%" placeholder="O que você busca?" aria-describedby="basic-addon2" ng-model="search">
  <button type="button" class="btn btn-primary" ng-click="doRequest()"><span class="glyphicon glyphicon-search"></span>  Pesquisar</button>
</div>
<div class="twets" ng-show="tweets">
<div class="capa">
  <img class="capa"  ng-src="{{image}}"/>
  <label class="theme" >{{search}}</label>
</div>
<div class="row tweet" ng-repeat="tweet in tweets">
  <div class="col col-sm-3" >
    <div class="circular"><img class="photo" ng-src="{{tweet.image}}"/></div>
  </div>
  <div class="col col-sm-9">
    <div class="row">
      {{tweet.text}}
    </div>
    <div class="row date" style="padding-top:10px">
      {{tweet.place.state}} - {{convertDate(tweet.created_at) | date:"HH:mm',' d 'de' MMMM"}}
    </div>
    <div class="row" style="padding-top:10px">
      <label class="{{tweet.classe}}">{{tweet.classe }}</label>
    </div>
  </div>
</div>
</div>
</div>
<link rel="stylesheet" href="./mapa_files/leaflet.css">

  <style>
    #map {
      position: fixed; top: 0; left: 0, bottom:0;
      z-index: 0;
      overflow-x: hidden; 
      overflow-y: hidden;
    }

    .info {
      padding: 6px 8px;

      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }

    .legend {
      text-align: left;
      line-height: 18px;
      color: #555;
    }
    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  </style>


<div id="map"></div>
<script src="./mapa_files/leaflet.js"></script>
<script type="text/javascript" src="./mapa_files/jquery.waiting.js"></script>
<script type="text/javascript" src="./mapa_files/brasil.geojson"></script>

