<div class="jquery-waiting-base-container" ng-show="buscou">Carregando </div>
<div class="feed">
<div class="input-group busca">
  <input type="text" class="form-control" style="width: 75%" placeholder="O que você busca?" aria-describedby="basic-addon2" ng-model="search">
  <button type="button" class="btn btn-primary" ng-click="doRequest()"><span class="glyphicon glyphicon-search"></span>  Pesquisar</button>
</div>
<div class="twets" ng-show="tweets">
<div class="capa">
  <img class="capa"  ng-src="{{image}}"/>
  <label class="theme" >{{search}}</label>
</div>
<div class="row tweet" ng-repeat="tweet in tweets">
  <div class="col col-sm-3" >
    <div class="circular"><img class="photo" ng-src="{{tweet.image}}"/></div>
  </div>
  <div class="col col-sm-9">
    <div class="row">
      {{tweet.text}}
    </div>
    <div class="row date" style="padding-top:10px">
      {{tweet.place.state}} - {{convertDate(tweet.created_at) | date:"HH:mm',' d 'de' MMMM"}}
    </div>
    <div class="row" style="padding-top:10px">
      <label class="{{tweet.classe}}">{{tweet.classe }}</label>
    </div>
  </div>
</div>
</div>
</div>
<link rel="stylesheet" href="./mapa_files/leaflet.css">

  <style>
    #map {
      position: fixed; top: 0; left: 0, bottom:0;
      z-index: 0;
      overflow-x: hidden; 
      overflow-y: hidden;
    }

    .info {
      padding: 6px 8px;

      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }

    .legend {
      text-align: left;
      line-height: 18px;
      color: #555;
    }
    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  </style>


<div id="map"></div>
<script src="./mapa_files/leaflet.js"></script>
<script type="text/javascript" src="./mapa_files/jquery.waiting.js"></script>
  <script type="text/javascript" src="./mapa_files/brasil.geojson"></script>
  <script type="text/javascript">

    var map = L.map('map').setView([-22.0124378,-67.8971016], 4);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IjZjNmRjNzk3ZmE2MTcwOTEwMGY0MzU3YjUzOWFmNWZhIn0.Y8bhBaUMqFiPrDRW9hieoQ', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
      id: 'mapbox.light'
    }).addTo(map);


    // control that shows state info on hover
    var info = L.control();

    info.onAdd = function (map) {
      this._div = L.DomUtil.create('div', 'info');
      this.update();
      return this._div;
    };

    info.update = function (props) {
      this._div.innerHTML = '<h4>US Population Density</h4>' +  (props ?
        '<b>' + props.name + '</b><br />' + props.density + ' people / mi<sup>2</sup>'
        : 'Hover over a state');
    };

    info.addTo(map);


    // get color depending on population density value
    function getColor(d) {
    return d >= 100 ? '#00FF00' :
           d >= 80  && d <= 99  ?  '#66FF66' :
           d >= 60  && d <= 79  ? '#99FF66' :
           d >= 40  && d <= 59  ? '#CCFF66' :
           d >= 20  && d <= 39  ? '#CCFF99' :
           d > 0  && d <= 19  ? '#FFFF99' :
           d = 0    ? '#FFFFCC' :
           d < 0  && d >= -19  ? '#FFFF66' :
           d <= -20 && d >= -39   ? '#FF9933  ' :
           d <= -40 && d >= -59   ? '#FF6600 ' :
           d <= -60 && d >= -79   ? '#FF0000' :
           d <= -80 && d >= -99   ? '#CC0000' :
           d = -100   ? '#880000 ' :
                      '#FFEDA0';
  }

    function style(feature) {
      return {
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7,
        fillColor: getColor(feature.properties.density)
      };
    }

    function highlightFeature(e) {
      var layer = e.target;

      layer.setStyle({
        weight: 5,
        color: '#666',
        dashArray: '',
        fillOpacity: 0.7
      });

      if (!L.Browser.ie && !L.Browser.opera) {
        layer.bringToFront();
      }

      info.update(layer.feature.properties);
    }

    var geojson;

    function resetHighlight(e) {
      geojson.resetStyle(e.target);
      info.update();
    }

    function zoomToFeature(e) {
      map.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
      layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
      });
    }

    geojson = L.geoJson(statesData, {
      style: style,
      onEachFeature: onEachFeature
    }).addTo(map);

    map.attributionControl.addAttribution('Population data &copy; <a href="http://census.gov/">US Census Bureau</a>');


    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map) {

     var div = L.DomUtil.create('div', 'info legend'),
      grades = [100, 80, 60, 40, 20, 0, -20, -40, -60, -80, -1],
      labels = [],
      from, to;

      for (var i = 0; i < grades.length; i++) {
        from = grades[i];
        to = grades[i + 1];

        labels.push(
          '<i style="background:' + getColor(from + 1) + '"></i> ' +
          from + (to ? '&ndash;' + to : '+'));
      }

      div.innerHTML = labels.join('<br>');
      return div;
    };

    legend.addTo(map);

  </script>
