<div class="jquery-waiting-base-container" ng-show="buscou">Carregando </div>
<div class="feed">
<div class="input-group busca">
  <input type="text" class="form-control" style="width: 75%" placeholder="O que você busca?" aria-describedby="basic-addon2" ng-model="search">
  <button type="button" class="btn btn-primary" ng-click="doRequest()"><span class="glyphicon glyphicon-search"></span>  Pesquisar</button>
</div>
<div class="twets" ng-show="tweets">
<div class="capa">
  <img class="capa"  ng-src="{{image}}"/>
  <label class="theme" >{{theme}}</label>
</div>
<div class="row tweet" ng-repeat="tweet in tweets">
  <div class="col col-sm-3" >
    <div class="circular"><img class="photo" ng-src="{{tweet.image}}"/></div>
  </div>
  <div class="col col-sm-9">
    <div class="row">
      {{tweet.text}}
    </div>
    <div class="row date" style="padding-top:10px">
      {{tweet.place.state}} - {{convertDate(tweet.created_at) | date:"HH:mm',' d 'de' MMMM"}}
    </div>
    <div class="row" style="padding-top:10px">
      <label class="{{tweet.classe}}">{{tweet.classe }}</label>
    </div>
  </div>
</div>
</div>
</div>
<link rel="stylesheet" href="./mapa_files/leaflet.css">
<div id="map" style="position:relative"></div>
<script src="./mapa_files/leaflet.js"></script>
<script type="text/javascript" src="./mapa_files/jquery.waiting.js"></script>
<script type="text/javascript" src="./mapa_files/brasil.geojson"></script>

